/* styling for navigation bar */
  .navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .menu-items {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  .menu-items a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menu-items a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  /* styling for resources list */
  .resources-list {
      margin-top: 25px;
  }

  p {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  svg {
    width: 1000px;
    height: 600px;
    border:1px solid gray;  
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }

  rect {
    fill:lightcoral;
  }

  .ucla-button-gender {
    margin-bottom: 10px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 4px;
  }

  .promis-button-gender {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  .ucla-button-race {
    margin-bottom: 10px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 4px;
  }

  .promis-button-race {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  .axis-label {
    font-size:1.2em;
    font-family:sans-serif;
  }
  /* styling for buttons on resource list*/
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }

  .tablink:hover {
    background-color: #777;
  }
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
#Activities {background-color: rgb(211, 139, 139);}
#Communication {background-color: rgb(91, 158, 167);}
#Mindfulness {background-color: rgb(109, 156, 117);}
#Community {background-color: rgb(209, 133, 83);}
  