/* styling for navigation bar */
  .navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .menu-items {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  .menu-items a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menu-items a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  /* styling for resources list */
  .resources-list {
      margin-top: 25px;
  }

  p {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  svg {
    width: 1000px;
    height: 600px;
    border:1px solid gray;  
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }

  rect {
    fill:lightcoral;
  }

  .axis-label {
    font-size:1.2em;
    font-family:sans-serif;
  }
  